<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
  <exclude-pattern>.ddev/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>
  <exclude-pattern>*.html.php</exclude-pattern>
  <exclude-pattern>*.svg.php</exclude-pattern>
  <exclude-pattern>HtmlErrorRenderer.php</exclude-pattern>
  <exclude-pattern>tests/*</exclude-pattern>
  <rule ref="PreviousNextDrupal">
    <exclude name="SlevomatCodingStandard.Commenting.UselessInheritDocComment" />
  </rule>
</ruleset>
