parameters:
    ignoreErrors:
      -
        message: "#implements deprecated interface Symfony\\\\Component\\\\DependencyInjection\\\\ContainerAwareInterface#"
        reportUnmatched: false
      -
        message: "#Usage of deprecated trait Symfony\\\\Component\\\\DependencyInjection\\\\ContainerAwareTrait#"
        reportUnmatched: false
      -
        message: "#Call to an undefined method Drupal\\\\Core\\\\Render\\\\RendererInterface::renderInIsolation\\(\\)#"
        path: src/DataCollector/DevelDataCollector.php
        reportUnmatched: false
    level: 5
    paths:
      - src
    treatPhpDocTypesAsCertain: false
    fileExtensions:
      - php
      - module
      - theme
      - profile
      - install
      - inc
    excludePaths:
      - templates/Error/*
      - src/Render/TraceableBigPipe.php
      - tests
